
*{margin:0;padding:0;box-sizing:border-box}
body{font-family:Segoe UI,Arial;background:#f1f3f8;line-height:1.7;color:#222}

header{
background:linear-gradient(135deg,#002f6c,#0059b3);
color:white;
text-align:center;
padding:60px 15px;
border-bottom-left-radius:30px;
border-bottom-right-radius:30px;
}

.call-btn{
background:#ffb703;
padding:15px 35px;
border-radius:50px;
font-weight:bold;
color:black;
display:inline-block;
box-shadow:0 10px 25px rgba(0,0,0,.2);
}

section{
background:white;
margin:25px;
padding:35px;
border-radius:25px;
box-shadow:0 20px 40px rgba(0,0,0,.1);
}

h2,h3{color:#002f6c}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
}

.service-box{
background:#f9fbff;
border-radius:20px;
padding:25px;
text-align:center;
transition:.3s;
}

.service-box:hover{transform:translateY(-10px)}

.service-box img{
width:100%;
max-width:220px;
border-radius:15px;
margin-bottom:12px;
}

.full-img{
width:100%;
border-radius:18px;
margin-top:15px;
box-shadow:0 10px 25px rgba(0,0,0,.2);
}

footer{
background:#002f6c;
color:white;
text-align:center;
padding:25px;
margin-top:40px;
border-top-left-radius:30px;
border-top-right-radius:30px;
}
